*.db_info
*.flock
*.tcl
*.xml
*.tdf
*.cdb
*.hdb
*.qmsg
*.rdb
*.idb
*.kpt
*.bpm
*.stp
*.hsd
*.hier_info
*.hif
*.html
*.txt
*.sv
*.mif
*.cmp
*.ammdb
*.logdb
*.sci
*.ddb
*.tmw_info
*.json
*.sopcinfo
*.dfp
*.rcfdb
*.dpi
*.hb_info
*.sig
*.rpt
*.cdf
*.done
*.smsg
*.summary
*.jdi
*.pin
*.sld
*.nlv
src/incremental_db/README
*.debuginfo
*.regmap
*.ocp
*.sdc
*.hex
*.qip
*.qsys
*.qtl
*.qpg
*.qdb
